body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#rzp-button1{
  background-color: #B0BEC5;
  height: 40px;
  width: 50vw;

}