.loginForm{
    background-color: rgb(242, 244, 246);
    width: 30vw;
    border: 2px solid #b0bec5;
    border-radius: 4px;
    form{
        margin: 2vw;
    }
}

.loginForm:hover{
    box-shadow: 2px 2px 10px black;
}
/* body{
    background-color: rgb(244, 240, 235);
} */

.form-control:hover{
    border-color: #71afed;
}


.outer_user_form{

    
    display: flex;
    margin-top: 25vh;
    margin-bottom: 35vh;
    justify-content: center;
    align-items: center;
}


.login_submit_button{

    background-color: #b0bec5;
    width: 100px;
    border: 2px solid #263238;
    border-radius: 5px;
}
#otp_login{
    width : 150px;
     background-color: #b0bec5;
    border: 2px solid #263238;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-align: center;
}



.login_submit_button:hover{
    width: 105px;
    border-color: #7ec1e3;
    background-color:#b0bec5;
}
#otp_login:hover{
    width: 160px;
    border-color: #7ec1e3;
    background-color:#b0bec5;
}

@media(max-width :450px){

    .loginForm{
        width: 90vw;
    }
}