img{
    height: 60vh;
    width: 40vw;
    border: 2px solid black;
    border-radius: 10%;
}

.discount>span{
    color: red;
    text-decoration: line-through;
}
.discount>b{
    color: green;
    
}

.description{
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3vh;
}
.name{
    color: rgb(59, 58, 58);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2vh;
}
.outer{
    padding-left: 10vw;
    padding-top: 5vh;
    padding-right:10vw;
    padding-bottom: 10vh;;
}
.buy_button>button{
    background-color: #B0BEC5;
    height: 45px;
    width: 90%;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
}

.cart_button>button{
    background-color: #455a64;
    height: 45px;
    width: 90%;
    border: 1px solid #f7f7f7;
    border-radius: 10px;

}
.buy_button{
    margin: 0px auto 0px;
}

.originalPrice{
    width: 100%;
font-size: 1rem;
b{
    color: red;
}
}

.lower{
    margin-top: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 17vh;
    padding: 10%;
}
.lower:hover{
    box-shadow: 2px 2px 20px rgb(219, 213, 213);
}

@media(max-width :450px){

    img{
        height: 40vh;
    width: 80vw;
    }
}

@media(min-width :450px){
    .lower{
        height: 63vh;
        width: 40vw;
        border: 2px solid rgb(250, 248, 248);
        background-color: rgb(250, 251, 253);
        border-radius: 2px;
        /* display: flex; */
        
    }
    .outer{
        display: flex;
        gap: 4rem;
    }
.upper{
    margin-top: 20px;
    width: 50vw;
}
   
}