<%layout("layouts/boilerplate.ejs")%>

      <div class="outer_user_form">
         <div id="loginForm" class="loginForm">
         <form action="/user/signup" method="post" id="signup_Form">


            <div class="user_mobile">
               <div >
                  <label for="name" class="form-label">Name :</label>
               </div>

               <input type="text" placeholder="Enter Your name" class="form-control" id="name" name="name" required>
            </div>

            <div>
               <div>
                  <label for="mobileNumber" class="form-label">Mobile Number :</label>
               </div>

               <input type="text" placeholder="Enter Your Mobile number" class="form-control" id="mobileNumber" name="userMobile" required>
            </div> 

             <div>
               <div>
                  <label for="email" class="form-label">E-mail :</label>
               </div>

               <input type="text" placeholder="Enter Your E-mail" class="form-control" id="emailr" name="email" required>
            </div>

            <div>
               <div>
                  <label for="password" class="form-label">Password :</label>
               </div>
               <input type="password" placeholder="Enter Strong password" class="form-control" id="password" name="password" required>
            </div>

            <br>
            <div>
               <button class="login_submit_button">SignUp</button>
            </div>


         </form>
         </div>
      </div>