<%layout("layouts/boilerplate.ejs")%>

<h1>Order successfully Placed</h1>

<h2>Order ID : <%=order._id%></h2>
<h2>Total Amount Paid :<%=order.totalAmount%> </h2>
<h2>Payment ID : <%=order.paymentId%></h2>
a